html, body {
    font-size: 19px;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    font-size: 4rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin: 0 auto;
    padding: 9rem 0;
    text-align: center;
    position: relative;
    top: 0;
    background-color: white;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header #header-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

header .logo {
    width: 6em;
    display: block;
    margin: 0 auto;
    position: relative;
}

header .small-h {
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
    position: relative;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    background-color: white;
    padding: 0 5rem;
    border-bottom: 1.7px solid #181818;
}

.sticky-header strong {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

h1, h2, h3, h4 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 2rem;
    margin: 2rem 0;
    line-height: 1.5em;
}
h1 {
    font-size: 2.3rem;
    margin-top: 3rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}

p, dd, dt {
    font-size: 1.2rem;
    margin: 2rem 0;
    line-height: 1.5em;
}
dd {
    margin-left: 2rem;
}

h1, h2, h3, p, dl {
    max-width: 55rem;
}

.block {
    padding: 3rem 5rem;
}

.block a {
    color: #0079eb;
    text-decoration: none;
}
.block a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1.6px;
}

.block.dark {
    background-color: #181818;
    color: white;
}

.block.dark.blue {
    background-color: #00565c;
}
.block.dark.orange {
    background-color: #7a3700;
}
.block.dark.green {
    background-color: #004200;
}
.block.dark.black {
    background-color: #040404;
}

.block.dark a {
    color: #6fb9ff;
}

a.showcase {
    display: inline-block;
    box-sizing: border-box;
    width: 24rem;
    height: auto;
    min-height: 7rem;
    padding: 2rem;
    vertical-align: top;
    margin: 0 2rem 2rem 0;
    background-color: #eeeeee;
    text-decoration: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: inherit;
    transition: .2s;
}

a.showcase:hover, a.showcase:focus {
    background-color: #dddddd;
    text-decoration: none;
}

.home-link {
    color: inherit;
    text-decoration: none;
}
.home-link:hover, .home-link:active {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 1.6px;
}

.contact-button {
    font-family: 'Work Sans', sans-serif;
    font-size: inherit;
    color: white;
    background-color: #0051ff;
    text-decoration: none;
    line-height: 40px;
    vertical-align: top;
    padding: 0 1rem;
    border-radius: 40px;
    margin: 9px 0 0 0;
    border: none;
    float: right;
    transition: .2s;
}

.contact-button:hover, .contact-button:focus {
    background-color: #0044d8;
}

.footer-space {
    height: 1rem;
}
.footer-space.small {
    display: inline-block;
    width: 1.7rem;
}

.up-button {
    float: right;
    box-sizing: border-box;
    border: none;
    margin: 0 0 0 1rem;
    padding: 0.2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
    background-color: #ffffff22;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
}
.up-button:hover, .up-button:active {
    background-color: #ffffff33;
}

@media (max-width: 800px) {
    header {
        font-size: 3rem;
    }

    a.showcase {
        width: 100%;
    }

    h2 {
        font-size: 1.9rem;
    }
}

@media (max-width: 700px) {
    html, body {
        font-size: 17px;
    }

    .block {
        padding: 2rem 3rem;
    }

    .sticky-header {
        padding: 0 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .contact-button {
        display: none;
    }
}

@media (max-width: 600px) {
    html, body {
        font-size: 16px;
    }

    .block {
        padding: 2rem;
    }

    .sticky-header {
        padding: 0 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .footer-space.small {
        display: block;
        height: 1rem;
    }
}

@media (max-width: 500px) {
    html, body {
        font-size: 15px;
    }
}
