@use '../../static/inter/inter.css';

:root {
  font-family: Inter, sans-serif;
  font-size: 19px;
  --color-link: #0079eb;

  @supports (font-variation-settings: normal) {
    font-family: InterVariable, sans-serif;
  }
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
  text-underline-offset: 0.33rem;
  text-decoration-thickness: 1px;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: 1.6px;
  }

  &.button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: #0001;
    font-size: 1.1rem;
    color: inherit;

    &:hover,
    &:focus {
      background-color: #0002;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 1.5em;
}
h1 {
  font-size: 2.3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

p,
dd,
dt {
  font-size: 1.2rem;
  margin: 2rem 0;
  line-height: 1.5em;

  li > & {
    margin: 1rem 0;
  }
}
dd {
  margin-left: 2rem;
}

ul {
  list-style-type: '◥  ';
  margin-left: 0;
  padding-left: 2rem;

  > li::marker {
    color: #6500df;
    font-size: 1rem;
  }

  ul > li > & {
    list-style-type: '▸  ';

    > li::marker {
      color: inherit;
    }
  }
}

ol {
  margin-left: 0;
  padding-left: 2rem;
  font-size: 1.2rem;

  > li::marker {
    color: #6500df;
  }
}

h1,
h2,
h3,
p,
dl {
  max-width: 55rem;
}

.card-subheading {
  font-size: 1.1rem;
  color: #6500df;
  margin-bottom: 0.5rem;

  + * {
    margin-top: 0;
  }
}

.clear {
  clear: both;
}

@media (max-width: 800px) {
  header {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.9rem;
  }
}

@media (max-width: 700px) {
  html,
  body {
    font-size: 17px;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 500px) {
  html,
  body {
    font-size: 15px;
  }
}
